<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ site.weibourl }}" target="_blank">{{ site.weibourl }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <p class="text wish">{{ site.wish }}</p>
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
